
.vs/WaveForm_Generator/DesignTimeBuild/.dtbcache.v2
.vs/WaveForm_Generator/FileContentIndex/0df6375d-85bf-4241-bef6-3f5cfa70961a.vsidx
.vs/WaveForm_Generator/FileContentIndex/1b97bded-b357-4246-963b-c79ab6019535.vsidx
.vs/WaveForm_Generator/FileContentIndex/65661d6c-ccc6-4ed8-a228-e95a9dbe47b6.vsidx
.vs/WaveForm_Generator/FileContentIndex/d3a384b0-c0fe-4223-892a-a40e5f4f4f1a.vsidx
.vs/WaveForm_Generator/FileContentIndex/read.lock
.vs/WaveForm_Generator/v17/.suo
WaveForm_Generator/bin/Debug/net6.0-windows/WaveForm_Generator.dll
WaveForm_Generator/bin/Debug/net6.0-windows/WaveForm_Generator.exe
WaveForm_Generator/bin/Debug/net6.0-windows/WaveForm_Generator.pdb
WaveForm_Generator/obj/Debug/net6.0-windows/apphost.exe
WaveForm_Generator/obj/Debug/net6.0-windows/ref/WaveForm_Generator.dll
WaveForm_Generator/obj/Debug/net6.0-windows/refint/WaveForm_Generator.dll
WaveForm_Generator/obj/Debug/net6.0-windows/WaveForm_Generator.assets.cache
WaveForm_Generator/obj/Debug/net6.0-windows/WaveForm_Generator.csproj.AssemblyReference.cache
WaveForm_Generator/obj/Debug/net6.0-windows/WaveForm_Generator.csproj.CoreCompileInputs.cache
WaveForm_Generator/obj/Debug/net6.0-windows/WaveForm_Generator.csproj.FileListAbsolute.txt
WaveForm_Generator/obj/Debug/net6.0-windows/WaveForm_Generator.csproj.GenerateResource.cache
WaveForm_Generator/obj/Debug/net6.0-windows/WaveForm_Generator.designer.runtimeconfig.json
WaveForm_Generator/obj/Debug/net6.0-windows/WaveForm_Generator.dll
WaveForm_Generator/obj/Debug/net6.0-windows/WaveForm_Generator.GeneratedMSBuildEditorConfig.editorconfig
WaveForm_Generator/obj/Debug/net6.0-windows/WaveForm_Generator.genruntimeconfig.cache
WaveForm_Generator/obj/Debug/net6.0-windows/WaveForm_Generator.pdb
WaveForm_Generator/obj/project.assets.json
WaveForm_Generator/obj/project.nuget.cache
WaveForm_Generator/obj/WaveForm_Generator.csproj.nuget.dgspec.json
WaveForm_Generator/obj/WaveForm_Generator.csproj.nuget.g.props
